<!DOCTYPE html>
<html lang="ua">
<head>
    <%- include('base/head'); %>
    <title>Трансляція</title>
    <meta name="description" content="Educational manager course video translation"/>
    <link rel="stylesheet" typDe="text/css" href="/styles/css/course-translation.css">

    <script src="/scripts/libs/socket-events.js" defer></script>
    <script src="/scripts/js/course-translation.js" defer></script>
</head>
<body>
<div class="footer-push row">
    <header class="row main-header">
        <%- include('base/menu', {active: 1}); %>
    </header>
    <main class="row">
        <aside class="chat">
            <form class="form" name="chat" autocomplete="off">
                <h2>Чат</h2>
                <textarea class="input textarea" name="messages" rows="24" cols="32" readonly></textarea>
                <label>
                    Повідомлення:
                    <textarea class="input input-message textarea" name="message"></textarea>
                </label>
                <input class="btn btn-primary" type="submit" value="Відправити">
            </form>
        </aside>
        <section class="translation container">
            <section class="control-buttons">
                <button id="broadcast" class="btn-primary">Транслювати</button>
                <button id="stop" class="btn-danger">Зупинити трансляцію</button>
                <button id="capture" class="btn-primary">Відобразити трансляцію</button>
                <button id="stopPlayback" class="btn-danger">Зупинити відображення</button>
                <div class="rotate-wrapper" id="rotate"><span class="rotate"></span></div>
            </section>
            <video id="recording-video" class="recording-video" style="display: none"></video>
            <img id="frames-container" class="frames-container" hidden>
        </section>
    </main>
</div>
<%- include('base/footer'); %>
<script>
    var courseId = <%= courseId %>;
</script>
</body>
</html>