<!DOCTYPE html>
<html lang="ua">
<head>
    <%- include('base/head'); %>
</head>
<body>
<div class="footer-push row">
    <header class="row main-header">
        <%- include('base/menu', {active: 2}); %>
    </header>
    <main class="row container">

    </main>
</div>
<%- include('base/footer'); %>
</body>
</html>