<!DOCTYPE html>
<html lang="ua">
<head>
	<%- include('base/head'); %>
	<link rel="stylesheet" typDe="text/css" href="styles/css/index.css">
</head>
<body>
	<div class="footer-push row">
		<header class="row">
			<%- include('base/menu', { active: 0 }); %>
			<div class="row intro container">
				<p class="col-6">
					<strong>Edum</strong> 
					це інтерактивний освітній ресурс. Він дозволяє користувачам створювати чи вивчати курси різних напрямів.
					З онлайн відео трансляціями і тестуванням користувачи не помітять різниці порівняно з стаціонарним навчанням.
				</p>
			</div>
		</header>
		<main class="row container">
			<section class="top-courses row">
				<h2 class="title">Найпопулярніші курси</h2>
				<article class="col-4 course">
					<img src="img/java.jpg" alt="Java">
					<p>
						<a href="https://uk.wikipedia.org/wiki/Java" target="_blank">Java</a>
					 	- одна з найпопулярніших мов програмування. 
					 	Вона може бути запущена в будь-якому середовищі: лаптопі, телефоні чи навіть микрохвильовій печі.
					</p>
				</article>
				<article class="col-4 course">
					<img src="img/ruby.jpg" alt="Ruby">
					<p>
						<a href="https://uk.wikipedia.org/wiki/Ruby" target="_blank">Ruby</a>
					 	- це динамічна, відкрита мова програмування сфокусована на простоті і продуктивності.
					 	Вона має елегантний синтаксис, що є природнім в написанні та легким при читанні.
					</p>
				</article>
				<article class="col-4 course">
					<img src="img/php.jpg" alt="PHP">
					<p>
						<a href="https://uk.wikipedia.org/wiki/PHP" target="_blank">PHP</a>
					 	- це популярна скріптова мова програмування загального напрямку яка особлио підходить для веб розробки.
						Швидка, гнучка та прагматична, вона є в усьому починаючи з вашого блогу закінчуючи найпопулярнішими сайтами в світі. 
					</p>
				</article>
			</section>
			<section class="we-offer row">
				<h2 class="title">Ми пропонуємо</h2>
				<div class="carousel col-12 row">
					<section class="box offer active col-s-12">
						<img src="img/student.png" alt="student">
						<p>
							Дистанційне навчання будь де і будь коли абсолютно безкоштовно. 
							Ви можете підписуватись на необмежену кількість курсів та відслідковувати прогрес їх проходження.

						</p>
					</section>
					<section class="box offer col-s-12">
						<img src="img/computer.png" alt="computer">
						<p>
							Інтуітивно зрозумілий редактор для створення будь-яких курсів з дружнім інтерфейсом. 
							Кожен викладач матиме змогу користуватися цим редактором.
						</p>
					</section>
					<section class="box offer col-s-12">
						<img src="img/calculation.png" alt="calculation">
						<p>
							Перевіряйте та оцінюйте свої знання за допомогою онлайн тестування. 
							Тести можуть входити до складу будь-якого курсу. Їх проходження підвищує ваш рейтинг.
						</p>
					</section>
					<div class="controls control-prev"></div>
  					<div class="controls control-next"></div>
				</div>
			</section>
		</main>
	</div>
	<%- include('base/footer'); %>
	<script type="text/javascript" src="scripts/libs/carousel.js"></script>
	<script type="text/javascript">
		var element = document.getElementsByClassName('carousel')[0];
		var carousel = new Carousel(element);
		carousel.start(15000);
	</script>
</body>
</html>