<ul>
    <% pageList.pages.forEach(function(page) { %>
        <% if (page) { %>
            <li>
                <%- link_to_if(page !== pageList.current, page, url(page)) %>
            </li>
        <% } else { %>
            <li>...</li>
        <% } %>
    <% }); %>
</ul>