<footer class="row desktop container">
	<div class="col-2 logo-wrap">
		<a  href="index.html" title="home" class="logo-small logo-dark">E</a>
	</div>
	<nav class="col-6 footer-nav">
		<ul class="nav-list">
			<li><a href="#">Спільнота</a></li>
			<li><a href="mailto: xrocketmanx007@gmail.com">Напишить мені</a></li>
		</ul>
	</nav>
	<address class="author">&#169; Олександр Аміров</address>
</footer>