<title>Edum</title>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<meta name="description" content="Educational manager" />
<meta name="author" content="Alexander Amirov" />