<menu class="row main-menu container">
	<div class="col-2 col-s-5 logo-wrap">
		<a href="/" title="home" class="logo-big logo-light desktop"><h1>EDUM</h1></a>
		<a href="/" title="home" class="logo-small logo-light mobile"><h1>E</h1></a>
	</div>
	<nav class="col-7 main-nav">
		<label class="btn-menu mobile" for="btn-menu"></label>
		<input type="checkbox" name="btn-menu" id="btn-menu">
		<ul class="nav-list nav-transition">
			<% for (var i = 0; i < urls.menu.length; i++) { %>
				<li>
					<a href="<%= urls.menu[i].href %>" <% if(active === i + 1) {%> class="active" <%}%> >
						<%= urls.menu[i].name %>
					</a>
				</li>
			<% } %>
		</ul>
	</nav>
	<address class="desktop phone">093-106-92-03</address>
</menu>