.anchor(@color) {
	color: @color;

	&:hover, &.active {
		color: darken(@color, 10%);
	}
}

@media only screen and (min-width: @width-media) {
	.nav-transition {
		a {
			position: relative;
			text-decoration: none;
			transition: color .2s;
			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				height: 1px;
				width: 	0;
				background-color: darken(@white, 10%);
				transition: width .3s ease-out;	
			}
		}

		li:hover {
			cursor: pointer;
			a {
				color: darken(@white, 10%)
			}
			a:after { 
				width: 100% !important; 
			}
		}

		.active:after {
			width: 100%;
		}

		&:hover .active:after { 
			width: 0;
		}
	}
}

.nav-list li {
	display: block;
	float: left;
	padding: 0 30px;

	a {
		.anchor(@white);
	}

	@media only screen and (max-width: 930px) {
		padding: 0 15px;
	}
}

.phone {
	color: @white;
	position: relative;

	&::before {
		content: "";
		background: url("@{img-path}technology.png");
		background-size: cover;
		display: block;
		width: 16px;
		height: 16px;
		position: absolute;
		left: -25px;
		top: 50%;
		margin-top: -3px;
	}
}

.btn-menu {
	cursor: pointer;
	display: block;
	transform: translateY(0.5em);
	width: 2em;
	height: 2em;
	background: url("@{img-path}menu.png");
	background-size: cover;
}

.logo(@color, @img) {
	font-size: 32px;
	display: inline-block;
	text-decoration: none;
	color: @color;
	border: 1px solid @color;
	position: relative;

	h1 {
		font-weight: normal;
		font-size: inherit;
	}

	&::before {
		content: "";
		background: url("@{img-path}@{img}.png");
		display: block;
		width: 32px;
		height: 32px;
		position: absolute;
		top: 50%;
	}

	&:hover::before {
		background: url("@{img-path}yellow-bulb.png");
	}
}

.logo-dark { .logo(@dark-grey, 'dark-bulb'); }
.logo-light { .logo(@white, 'light-bulb'); }

.logo-big {
	width: 150px;
	padding-left: 10px;

	&::before {
		right: 10px;
		margin-top: -19px;
	}
}

.logo-small {
	width: 65px;
	padding-left: 5px;

	&::before {
		right: 5px;
		margin-top: -17px;
	}
}

.input {
	color: @dark-grey;

	&:focus {
		outline: none;
		border: 1px solid @light-blue;
		box-shadow: 0 0 3px 1px @light-blue;
	}
}

.btn {
	padding: 10px 15px;
	background: none;
	border: 1px solid @dark-grey;
	text-transform: uppercase;
	letter-spacing: .05em;
	transition: background .2s, color .2s;

	&:hover {
		cursor: pointer;
	}

	&:focus {
		outline: none;
	}
}

.btn-primary {
	.btn;

	&:hover {
		background: @dark-grey;
		color: @white;
	}

	&:active {
		transform: translateY(1px);
	}
}