@import "base/base";

.rotate-wrapper {
  display: inline-block;

  padding-top: 10px;

  width: 32px;
  height: 32px;
  cursor: pointer;
}

.rotate {
  display: block;
  width: 32px;
  height: 32px;
  background: url("@{img-path}rotate-option.png");
}

.translation {
  text-align: center;
}

.control-buttons {
  margin-top: 25px;
}

.recording-video {
  display: block;
  margin: 25px auto;
}

.frames-container {
  height: 75vh;
  margin: 25px auto;
}

.phone-fix {
  transform: rotate(180deg) scaleX(-1);
}

.chat {
  float: left;
  margin-left: 5px;

  .textarea {
    width: 100%;
  }

  @media only screen and (max-width: @width-media) {
    float: none;
  }
}

textarea {
  resize: none;
}