@import "base/base";

.translation {
  text-align: center;
}

.control-buttons {
  margin-top: 25px;
}

.recording-video {
  display: block;
  margin: 25px auto;
}

.frames-container {
  height: 75vh;
  margin: 25px auto;
}

.chat {
  float: left;
  margin-left: 5px;

  .textarea {
    width: 100%;
  }

  @media only screen and (max-width: @width-media) {
    float: none;
  }
}

textarea {
  resize: none;
}