@import "base/base";

.top-courses {
	.title {
		text-align: center;
		padding: @title-padding*2 0;
		color: @dark-grey;	
	}

	.course { 	
		padding: 0 @title-padding;

		img {
			width: 100%;
			border: 1px solid @dark-grey;
			margin-bottom: 20px;
		}

		a {
			.anchor(@blue);
			text-decoration: none;
		}

		@media only screen and (max-width: @width-media) {
			padding: 0;
			margin-bottom: @title-padding*2;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}	